:root{
--primary-color: #ffffff;
--secondary-color: #F3F6FF;
--tertiary-color: #314E59;
--quaternary-color: #3563FF;
--quaternary-hover-color: #2649ba;
--primary-hover-color: #FED201;
--background-color: #f1f1f1;
--white-black-color: #000000;

--column-backgroundColor: #ebecf0;
--card-backgroundColor: #fff;
}

.Update-button{
    background-color: #8BC34A !important;
}


.column {
    transition: background-color 0.2s ease;
}

.column.dragover {
    background-color: #d1d1d1; 
    border: 2px #333 !important;
}

.card {
    transition: transform 0.2s ease, opacity 0.2s ease; 
}

.card.dragging {
    transform: scale(1.05) !important; 
    opacity: 0.2 !important; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) !important; 
}


.cropper-bg {
    background-image: none !important;
}

.cropper-container {
    position: absolute;
}


.line {
    position: relative;
    margin-top: 0 !important;
    height: 2px;
    width: 87%;
    background: var(--white-black-color);
    transform: scaleX(0);
    transform-origin: center;
    animation: line-animation 2s forwards;
  }
  
  @keyframes line-animation {
    to {
      transform: scaleX(1);
    }
  }


  .project-btn-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
    position: absolute;
    right: 0;
  }
  
  .project:hover .project-btn-div {
    opacity: 1; 
  }

  .team-content:hover .project-btn-div {
    opacity: 1; 
  }
  
  .edit-button{
    margin-top: 20px;
    height: 41px;
    width: 90px;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .edit-icon{
    display: inline-block;
    width: 15px; 
    height: 15px; 
    background-image: url('@/assets/pencil.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
  }

  .project-btn-margin{
    margin: 0 10px 10px 0;
  }

  .close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    text-decoration: none;
    color: var(--tertiary-color);
    background: none;
    border: none;
  }
  
  .close-popup:hover {
    color: var(--primary-hover-color);
  }
  




