:root{
--primary-color: #ffffff;
--secondary-color: #F3F6FF;
--tertiary-color: #314E59;
--quaternary-color: #3563FF;
--primary-hover-color: #FED201;
--background-color: #f1f1f1;
--column-color: #ffffff;
--card-color: #e3e3e3;
}